<form method="POST" action="/ajout/livre/update/<%= data.id %>">

      <input type="text" name="titre" value="<%= data.nom %>" placeholder="Titre">
      <input type="text" name="date_parution" value="<%= data.date_parution %>" placeholder="JJ/MM/AAAA">

    <button type="submit">Enregistrer</button>