<!DOCTYPE html>
<html>
<head>
   
    <title>Page Title</title>
  
</head>
<body>
    <h1>Vue s'affiche</h1>
   <p><%=test%></p> 
    <form action="/" method="POST">
        <label>Titre</label>
        <input type="text" id="name" name="name">
        <label>Description</label>
        <input type="text" id="name" name="name">
        <button type="submit">Ok</button>
        



    </form>



</body>
</html>